/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://s2.glbimg.com/fIodyia-BQ_w5v08QPBElSguyk8=/e.glbimg.com/og/ed/f/original/2020/01/15/pia14832_medium.jpg');
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#form{
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    position: absolute;
	top: 25%;
    left: 50%;
}

.botao {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 9px;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    
   }
   
   
   .botao:active {
    transform: scale(0.97);
   
   }

   #volt {
    background: #f8fc09;
   }
   #volt:hover {
    box-shadow: 10px 8px 60px 10px #f6fa04;
   }
   #volt:active {
    box-shadow: 10px 8px 60px -10px #f6fa04;
   }

   #cad {
    background: #76fc09;
   }
   #cad:hover {
    box-shadow: 10px 8px 60px 10px #0cfa04;
   }
   #cad:active {
    box-shadow: 10px 8px 60px -10px #5efa04;
   }
