<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>Solar System</title>
   <link href="estiloIndex.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
  <img class="object" src="imgs/sun.png" alt="" id="sun">
  <img class="object planet" src="imgs/mercury.png" alt="" id="mercury">
  <img class="object planet" src="imgs/venus.png" alt="" id="venus">
  <img class="object planet" src="imgs/earth.png" alt="" id="earth">
  <img class="object planet" src="imgs/mars.png" alt="" id="mars">
  <img class="object planet" src="imgs/jupiter.png" alt="" id="jupiter">
  <img class="object planet" src="imgs/saturn.png" alt="" id="saturn">
  <img class="object planet" src="imgs/uranus.png" alt="" id="uranus">
  <img class="object planet" src="imgs/neptune.png" alt="" id="neptune">

  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object p-orbit"></div>
  <div class="object" id="m-orbit"></div>
  <br>
  <center><div id="top">Bem vindo ao N.A.S.O. escolha sua ação:</div></center>
  <a id="cadastrar" href="/cadastro.html">Cadastrar</a>
  <a id="listar" href="/listar.html">Ver Listar</a>

  <img src="asteroid.png" class="object" alt="" id="belt">
</body>
  <script src="script.js"></script>
</html>
<!-- https://terminalroot.com.br/2021/04/sistema-solar-feito-com-html-css-e-javascript-puro.html -->